<div class="row">
  <div class="col-6">
    <mat-card>
      <mat-card-content>
        Name: <span>Asiriator</span>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-6">
    <mat-card>
      <mat-card-content>
        Destination: <span>123548 Wh</span>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <mat-card>
      <mat-card-content>
        Name: <span>Asiriator</span>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-6">
    <mat-card>
      <mat-card-content>
        Destination: <span>123548 Wh</span>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <mat-card>
      <mat-card-content>
        Name: <span>Asiriator</span>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-6">
    <mat-card>
      <mat-card-content>
        Destination: <span>123548 Wh</span>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <mat-card>
      <mat-card-content>
        Name: <span>Asiriator</span>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-6">
    <mat-card>
      <mat-card-content>
        Destination: <span>123548 Wh</span>
      </mat-card-content>
    </mat-card>
  </div>
</div>

