<div class="container h-100">
  <div class="d-flex align-items-center justify-content-center h-100">
    <div class="wormhole-wrapper">
      <mat-card>
        <!-- <mat-card-title>
          <span>Wormhole</span>
        </mat-card-title> -->
        <mat-card-content>
          <div class="row h-50">
            <div class="col-6">
              <app-aliens-list></app-aliens-list>
            </div>
            <div class="col-6">
              <app-travelers-list></app-travelers-list>
            </div>
          </div>
          <div class="row h-50">
            <app-trips-list></app-trips-list>
          </div>
        </mat-card-content>
        <mat-card-footer>

        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</div>
