<mat-card>
  <mat-card-title>
    <span>Alien Requests</span>
    <button
      class="tooltip-button"
      matTooltip="Wormhole is: {{isOpen? 'ON' : 'OFF'}}">
      <mat-slide-toggle
        color="primary"
        (click)="toggleSimulator()">
        Wormhole
      </mat-slide-toggle>
    </button>
  </mat-card-title>
    <scrollbar class="scrollbar">
      <div *ngFor="let request of alienRequests">
        <app-alien [alienRequest]="request"></app-alien>
      </div>
    </scrollbar>
</mat-card>
