<mat-card>
  <mat-card-title>
    <span>Alien Requests</span>
    <button
      class="tooltip-button"
      matTooltip="Wormhole is: {{isOpen? 'ON' : 'OFF'}}">
      <mat-slide-toggle
        color="primary"
        (click)="toggleSimulator()">
        Wormhole
      </mat-slide-toggle>
    </button>
  </mat-card-title>
    <scrollbar class="scrollbar">
      <div *ngFor="let request of alienRequests; let i = index">
        <app-alien
          [alienRequest]="request"
          [class.is-selected]="request.alien['id'] == selectedRequestId"
          [controls]="!(request.alien['id'] == selectedRequestId)"
          (isSelected)="selected($event)">
        </app-alien>
      </div>
    </scrollbar>
</mat-card>
