.create-account {
  margin-left: 15px;
  color: #1b5e20;
  font-size: 12px;
  text-decoration: underline;
}
.alien-icon {
  background-image: url('../../../assets/icons/alien.png');
  width: 24px;
  height: 24px;
  top: 0;
  left: 5px;
  position: absolute;
  background-size: contain;
}
.notification {
  position: absolute;
  top: -40px;
  left: 0;
  right: 0;
  color: white;
  margin: auto;
  text-align: center;
  background-color: black;
  padding: 5px 0;
  max-width: 75%;
  color: #1b5e20;
}
