
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Wormhole-operator-primary: mat.define-palette(mat.$indigo-palette);
$Wormhole-operator-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Wormhole-operator-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Wormhole-operator-theme: mat.define-light-theme((
  color: (
    primary: $Wormhole-operator-primary,
    accent: $Wormhole-operator-accent,
    warn: $Wormhole-operator-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($Wormhole-operator-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

app-root {
  display: flex;
  height: 100% !important;
  background-image: url(./../src/assets/backgound-images/space.jpg);
  background-size: cover;
  flex-direction: column;
  app-login, app-wormhole {
    height: calc(100% - 100px);
  }
  app-wormhole {
    width: 100%;
    display: flex;
    align-items: center;
    mat-card {
      height: 95%;
      background-color: transparent !important;
      border: 1px solid #1b5e20;
      box-shadow: none !important;
      mat-card-title {
        font-size: 20px !important;
      }
      .scrollbar {
        height: 80%;
        overflow-x: hidden;
        .card-wrapper {
          padding: 5px 0;
          display: flex;
          justify-content: center;
          align-items: center;
          mat-accordion {
            width: 100%;
            padding: 5px;
            cursor: pointer;
            color: #1b5e20;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.6) !important;
            border: 1px solid #1b5e20;
            border-radius: 4px;

            mat-expansion-panel {
              background-color: transparent;
              box-shadow: none;
              mat-expansion-panel-header {
                background-color: transparent;
                padding: 0 5px;
                height: auto!important;
                mat-panel-title {
                  color: #1b5e20;
                }
              }
              .mat-expansion-panel-body {
                padding: 3px 5px;
                mat-list {
                  border-top: 1px solid #1b5e20;
                }
              }
            }
            mat-list {
              mat-list-item {
                height: auto !important;
                .mat-list-text {
                  color: #1b5e20;
                  font-size: 12px;
                  flex-direction: row;
                  justify-content: space-between;
                  .mat-list-item-content {
                    padding: 0 10px;
                  }
                }
              }
            }
          }
          &:hover {
            mat-accordion {
              color: white;
              background-color: #1b5e20 !important;
              mat-panel-title {
                color: white;
              }
              .mat-expansion-indicator::after {
                color: white;
              }
              .mat-list-text {
                color: white;
              }
              .mat-expansion-panel-body {
                mat-list {
                  border-color: white;
                }
              }
            }
            .connection-panel {
              text-align: center;
              mat-icon {
                display: block;
              }
            }
          }
          .mat-progress-bar-buffer {
            background-color: transparent;
          }
          .mat-progress-bar-fill::after {
            border-radius: 50%;
          }
          .mat-progress-bar-background {
            fill: black
          }
          .connection-panel {
            width: 25%;
            text-align: center;
            position: relative;
            mat-icon {
              position: absolute;
              display: none;
              font-size: 18px;
              height: 18px;
              cursor: pointer;
              text-align: center;
              color: white;
              &[matTooltip="Accept"]{
                bottom: -20px;
                left: auto;
                right: 0;
                top: auto;
              }
              &[matTooltip="Decline"]{
                bottom: auto;
                left: 0;
                right: auto;
                top: -20px;
              }
            }
          }
        }
      }
    }
  }
}

@import '~@angular/material/theming';
@include mat-core();
  $primary: mat-palette($mat-green,900);
  $accent: mat-palette($mat-teal,200);

  $theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);

mat-card {
  background-color: black !important;
  mat-card-title{
    color: #1b5e20;
    padding-bottom: 15px;
    border-bottom: 2px solid #1b5e20;
  }
}

mat-form-field {
  .mat-form-field-flex {
    background-color: grey;
  }
  &.mat-focused {
    .mat-form-field-label {
        color: #1b5e20 !important;
    }
  }

  .mat-form-field-label,.mat-form-field-label.mat-focused,
  .mat-form-field.mat-focused.matform-field-should-float {
      color: #1b5e20 !important;
  }
  .mat-form-field-underline, .mat-form-field-underline.mat-focused {
      background-color: #1b5e20 !important;
  }
  .mat-input-element::placeholder {
    color: grey;
    opacity: 0.5;
  }
  .mat-input-element {
    color: white;
    padding: 5px 0;
  }
}

input.ng-invalid.ng-touched {
  caret-color: white !important;
}
.mat-form-field-invalid .mat-form-field-ripple, .mat-form-field-invalid .mat-form-field-ripple.mat-accent{
  background-color: firebrick!important;
}
.mat-button-disabled {
  opacity: 0.4 !important;
  color: white !important;
  background-color: #1b5e20 !important;
}

.mat-hint{
  color: white;
}

.mat-icon-button {
  color: #1b5e20;
}

.mat-select-value{
  color: #1b5e20!important;
}
.mat-tooltip {
  background-color: #1b5e20;
  font-size: 12px;
  margin-top: 15px;
}
