<div class="row">
  <div class="col-12">
    <div class="card-wrapper">
      <mat-accordion *ngIf="request && !toAlien && alienRequest">

        <mat-expansion-panel>

          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="d-flex align-items-center justify-content-between w-100">
                <div>{{'common.trip' | translate}}</div>
                <div [ngStyle]="tripDetails.waitingTime>30? {color: 'red', borderColor: 'white'} : {color: '#76b484'}">
                  {{'common.delay' | translate}} -{{tripDetails.waitingTime}}
                  <span
                    class="tooltip-button desc"
                    matTooltip="Earth seconds">
                    Es.
                  </span>
                </div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-list>
            <mat-list-item>
              <div mat-line>{{'common.waiting' | translate}}:</div>
              <div mat-line>{{tripDetails.waitingTime}} Es.</div>
            </mat-list-item>
            <mat-list-item>
              <div mat-line>{{'common.duration' | translate}}:</div>
              <div mat-line>{{tripDetails.duration}} Es.</div>
            </mat-list-item>
            <mat-list-item>
              <div mat-line>{{'common.distance' | translate}}:</div>
              <div mat-line>{{tripDetails.totalDistance}} Wh.</div>
            </mat-list-item>
          </mat-list>

        </mat-expansion-panel>

      </mat-accordion>

      <div *ngIf="request && !toAlien && alienRequest" class="connection-panel">
        <mat-icon
          class="tooltip-button"
          matTooltip="{{'common.assign' |translate}} {{traveler.name | titlecase}}"
          (click)="accept()">fast_rewind</mat-icon>
        <mat-progress-bar mode="query" color="primary"></mat-progress-bar>
      </div>

      <mat-accordion [ngStyle]="toAlien? {color: 'white', borderColor: 'white', backgroundColor: 'green'} : {}">

        <mat-expansion-panel collapsedHeight="40">

          <mat-expansion-panel-header>
            <mat-panel-title [ngStyle]="{'color':toAlien ? 'white':''}">
              {{traveler.name | titlecase}}
            </mat-panel-title>
            <mat-panel-title *ngIf="toAlien" [ngStyle]="{'color':toAlien ? '#76b484':''}">
              <div *ngIf="!hasAlien">
                <span>Connecting {{assignedAlien['name'] | uppercase}} in</span>
                <span [ngStyle]="{'font-weight': true ?'bold ':''}">
                   ... {{timeLeft}} Es
                </span>
              </div>
              <div *ngIf="hasAlien">
                <span>Traveling with {{assignedAlien['name'] | uppercase}}</span>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-list>

            <mat-list-item>
              <div mat-line>{{'common.id' | translate}}:</div>
              <div mat-line>{{traveler.id}}</div>
            </mat-list-item>

            <mat-list-item>
              <div mat-line>{{'common.location' | translate}}:</div>
              <div mat-line>{{!toAlien? traveler.currentPosition: 'Wormhole'}}<span *ngIf="!toAlien"> Wh.</span></div>
            </mat-list-item>

          </mat-list>

        </mat-expansion-panel>

      </mat-accordion>
    </div>
  </div>
</div>
