<div class="row">
  <div class="col-12">
    <div class="card-wrapper">
      <mat-accordion *ngIf="request">

        <mat-expansion-panel>

          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="d-flex align-items-center justify-content-between w-100">
                <div>Trip Details</div>
                <div style="color: #76b484; font-weight: bold;"> {{tripDetails.cost}} A</div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-list>
            <mat-list-item>
              <div mat-line>Cost:</div>
              <div mat-line>{{tripDetails.cost}} A</div>
            </mat-list-item>
            <mat-list-item>
              <div mat-line>Waiting Time:</div>
              <div mat-line>{{tripDetails.waitingTime}} Es.</div>
            </mat-list-item>
            <mat-list-item>
              <div mat-line>Total duration:</div>
              <div mat-line>{{tripDetails.totalDuration}} Es.</div>
            </mat-list-item>
            <mat-list-item>
              <div mat-line>Total distance:</div>
              <div mat-line>{{tripDetails.totalDistance}} Wh.</div>
            </mat-list-item>
          </mat-list>

        </mat-expansion-panel>

      </mat-accordion>

      <div *ngIf="request" class="connection-panel">


        <mat-icon class="tooltip-button" matTooltip="Decline" color="primary">
          close
        </mat-icon>
        <mat-progress-bar mode="query" color="primary"></mat-progress-bar>
        <mat-icon
          class="tooltip-button"
          matTooltip="Accept"
          color="primary"
          (click)="accept()">
          arrow_forward_ios
        </mat-icon>


      </div>

      <mat-accordion >

        <mat-expansion-panel collapsedHeight="40">

          <mat-expansion-panel-header>
            <mat-panel-title>
              {{traveler.name | titlecase}}
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-list>

            <mat-list-item>
              <div mat-line>ID:</div>
              <div mat-line>{{traveler.id}}</div>
            </mat-list-item>

            <mat-list-item>
              <div mat-line>Current Position:</div>
              <div mat-line>{{traveler.currentPosition}}<a> Wh.</a></div>
            </mat-list-item>

            <mat-list-item>
              <div mat-line>Completed Trips:</div>
              <div mat-line>0</div>
            </mat-list-item>

          </mat-list>

        </mat-expansion-panel>

      </mat-accordion>
    </div>
  </div>
</div>
