<mat-toolbar color="primary">
  <div class="d-flex flex-row align-items-center justify-content-between w-100">
    <div>
      <button mat-icon-button>
        <mat-icon></mat-icon>
      </button>
      <span class="title">{{'Wºrmhºle ºperatºr'}}</span>
    </div>
    <div>
      <button class="tooltip-button" matTooltip="Current language: {{language | uppercase}}" matTooltipClass="tooltip-red">
      <!-- <button class="tooltip-button" matTooltip="Wh: `Wormhole` A measument used by a super advanced life form living in a 5 dimentional world (IMPOSSIBLE TO BE UNDERSTOOD BY HUMANS)
      1Wh ≈ ∞LY (Light Year)" matTooltipClass="tooltip-red"> -->
        <mat-slide-toggle color="primary" (click)="onChangeLang()">English</mat-slide-toggle>
      </button>
    </div>
  </div>
</mat-toolbar>
