.mat-toolbar.mat-primary {
  margin-top: 20px;
  background: #000000;
  color: white;
  border-top: 2px solid #1b5e20;
  border-bottom: 2px solid #1b5e20;
  background-image: url('../../../../assets/backgound-images/greenhole.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  .title {
    color: #1b5e20;
  }
}
.tooltip-button {
  background-color: transparent;
}
.tooltip-red {
  background: #b71c1c !important;
}
mat-slide-toggle {
  color: #1b5e20;
  font-size: 14px;
  .mat-slide-toggle-bar {
    background-color: #1b5e20;
  }
}

::ng-deep .mat-slide-toggle .mat-slide-toggle-thumb {
  background-color: #1b5e20;
}
::ng-deep .mat-slide-toggle .mat-slide-toggle-bar {
  background-color: lightgrey;
}
